{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier", "airbnb/hooks"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "indent": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/state-in-constructor": [0, "never"],
    "func-names": ["error", "as-needed"]
  },
  "globals": {
    "window": true,
    "document": true
  }
}
